

html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}

body {
        
    color: #777777;
    /*margin: 0;*/
    /*overflow: hidden;*/
    min-height: 2000px;
    padding-top: 90px;

}

media="screen"
* {
-webkit-text-size-adjust: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


a {
    color: #777777;
    text-decoration: none;
}
a:hover{
    color: #777777
}
a:visited{
    color: #777777
}
.app {
    height: 100%;
    width: 100%;
}

#appmenu{
    background-color: #F6F6F6;
}
#divInfo {
    text-align: justify;
    
    height:100%;
    color: #000000;
    
}
.row {
    height: 100%;
}
.bloque2{
    height: auto;
}