body {
    
    color: #777777;
    font-family: sans-serif;
    margin: 0;
}
a {
    color: #777777;
    text-decoration: none;
}
a:hover{
    color: #777777
}
a:visited{
    color: #777777
}
.app {
    height: 100%;
    width: 100%;
}

#appmenu{
    background-color: #F6F6F6;
}
#divInfo {
    text-align: justify;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height:100%;
    color: #000000;
}
.bloque1 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 40%;
    
}
.bloque2 {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 60%;
    
}
