


body {
    -webkit-text-size-adjust:100%;
        
    color: #777777;
    font-family: sans-serif;
    /*margin: 0;*/
    /*overflow: hidden;*/
    min-height: 2000px;
    padding-top: 90px;

}



a {
    color: #777777;
    text-decoration: none;
}
a:hover{
    color: #777777
}
a:visited{
    color: #777777
}
.app {
    height: 100%;
    width: 100%;
}

#appmenu{
    background-color: #F6F6F6;
}
#divInfo {
    text-align: justify;
    
    height:100%;
    color: #000000;
    
}
.row {
    height: 100%;
}
.bloque2{
    height: auto;
}