<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ticuthermosillo.info" version="1.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TICinfo</name>
    <description>
        Info. carrera TIC.
    </description>
    <author email="tic@uthermosillo.edu.mx" href="http://www.tic-uth.net/moodle/">
        TIC Universidad Tecnologica de Hermosillo
    </author>
    <preference name="orientation" value="portrait" />
    <icon src="icon.png"/>
    <content src="index.html" />
    <access origin="*" subdomains="*"/>
    <allow-navigation href="*" />
    <preference name='phonegap-version' value='cli-5.1.1' />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <preference name="websecurity" value="disable" />
</widget>
